<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <body>
            <p>This is index page coming from index.hbs template engine</p>
            <img class="portrait" src="/imgs/demoimg.jpg">
        </body>
    </head>
</html>